 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Lima Security Works is a security software company created in 2017 with the first project in production called Iroha; An encryption software for text and file encryption. Check us out at Github.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to learn about cryptography and programming, a professional searching for security solutions, or a graphic artist looking add your work to our projects, this site may be a good starting point!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/iskra0332" class="btn btn-lg btn-outline">
                        <i class="fab fa-github"></i> Go to Github
                    </a>
                </div>
            </div>
        </div>
    </section>
